:root {
    --main-font: "Gilroy",sans-serif;
    --color-black: #000;
    --color-base: #fff;
    --color-title: #242a30;
    --color-grey: #bababa;
    --color-blue: #051ed6;
    --color-bg: #f8fafc
}

body {
    color: var(--color-black);
    background: var(--color-bg);
    font-family: var(--main-font);
    font-weight: 400;
    overflow-x: hidden;
    position: relative
}

body.active {
    overflow-y: hidden
}

.banner {
    position: relative;
    width: 100%;
    padding-bottom: 20%
}

.banner.big {
    padding-bottom: 16.67%
}

.banner.banner-vertical {
    padding-bottom: 173%;
    display: block
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 15px;
    border-radius: 15px
}

.news-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--color-base);
    -webkit-border-radius: 10px;
    border-radius: 10px
}

.news-card:hover .m-title {
    color: var(--color-blue)
}

.news-card__img {
    width: 300px;
    position: relative;
    padding-bottom: 19%;
    overflow: hidden;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.news-card__img img,.news-card__img video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.news-card__info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px
}

.news-card__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.news-card__type {
    font-weight: 700;
    font-size: 14px;
    margin-right: 20px
}

.news-card__date {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.news-card__date img {
    width: 15px;
    margin-right: 6px
}

.news-card__date span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-grey)
}

.news-big__card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px;
    background: var(--color-base);
    -webkit-border-radius: 10px;
    border-radius: 10px
}

.news-big__card:hover .news-big__card-title {
    color: var(--color-blue)
}

.news-big__card.--border {
    position: relative
}

.news-big__card.--border: after {
    content:"";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e6e6e6
}

.news-big__card-img {
    position: relative;
    width: 48%;
    padding-bottom: 30%;
    overflow: hidden
}

.news-big__card-img img,.news-big__card-img video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

.news-big__card-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px 30px 20px 20px
}

.news-big__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--color-title);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.news-big__card-all {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-title)
}

.recommendations-card {
    margin-bottom: 30px
}

.recommendations-card:hover .recommendations-card__title {
    color: var(--color-blue)
}

.recommendations-card__img {
    position: relative;
    padding-bottom: 48.25%
}

.recommendations-card__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.recommendations-card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-title);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.fast-news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.fast-news:hover .fast-news__info {
    color: var(--color-blue)
}

.fast-news__img {
    position: relative;
    padding-bottom: 25%;
    max-width: 105px;
    width: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 15px
}

.fast-news__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

.fast-news__info {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-title);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

.help-section {
    margin-top: 20px
}

.help-section__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px
}

.help-section__description {
    font-weight: 400;
    font-size: 17px;
    color: #bababa;
    margin-top: 5px
}

.help-section__link {
    font-weight: 400;
    font-size: 17px;
    color: #bababa;
    margin: 5px 10px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.help-section__link:hover {
    color: var(--color-blue)
}

.description-section__type {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-title)
}

.description-section__box,.description-section__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.description-section__box {
    margin-left: 20px
}

.description-section__box img {
    margin-right: 10px;
    width: 18px
}

.description-section__box span {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #bababa
}

.description-section__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -10px
}

.description-section__list li {
    margin: 0 10px
}

.description-section__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-blue)
}

.description-section blockquote,.description-section iframe {
    display: block;
    margin: 0 auto!important
}

@media (max-width: 992px) {
    .description-section .m-title {
        font-size:22px;
        line-height: 26px
    }
}

@media (max-width: 768px) {
    .description-section .m-title {
        font-size:20px;
        line-height: 22px
    }

    .description-section__box span {
        font-size: 16px
    }
}

.social-section {
    position: relative;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 20px 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: -webkit-linear-gradient(358.34deg,#039be5,#c89eff);
    background: -moz-linear-gradient(358.34deg,#039be5 0,#c89eff 100%);
    background: -o-linear-gradient(358.34deg,#039be5 0,#c89eff 100%);
    background: linear-gradient(91.66deg,#039be5,#c89eff);
    overflow: hidden;
    margin: 30px 0 60px
}

.social-section__title {
    font-weight: 700;
    font-size: 23px;
    line-height: 35px;
    color: var(--color-base);
    padding-right: 30px
}

.social-section__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--color-base);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 55px;
    width: 320px;
    min-width: 320px
}

.social-section__button img {
    margin-right: 10px
}

.social-section__button span {
    font-weight: 600;
    font-size: 18px;
    color: #039be5
}

@media (max-width: 992px) {
    .social-section {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .social-section__button {
        margin-top: 20px
    }
}

@media (max-width: 768px) {
    .social-section__title {
        font-size:26px;
        line-height: 28px;
        text-align: center
    }
}

.gallery-section {
    position: relative
}

.gallery-section__item {
    position: relative;
    max-width: 109px;
    width: 100%;
    padding-bottom: 72%;
    overflow: hidden;
    cursor: pointer
}

.gallery-section__item:last-child {
    margin-right: 0
}

.gallery-section__item img,.gallery-section__item video {
    left: 0;
    -o-object-fit: cover;
    object-fit: cover
}

.gallery-section__active,.gallery-section__item img,.gallery-section__item video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.gallery-section__active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    color: var(--color-base);
    left: -100%;
    background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.7)),to(rgba(0,0,0,.7)));
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,.7),rgba(0,0,0,.7));
    background: -moz-linear-gradient(bottom,rgba(0,0,0,.7),rgba(0,0,0,.7));
    background: -o-linear-gradient(bottom,rgba(0,0,0,.7),rgba(0,0,0,.7));
    background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.7));
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0
}

.gallery-section__media .gallery-section__img {
    position: relative;
    padding-bottom: 62%;
    margin-bottom: 5px
}

.gallery-section__media img,.gallery-section__media video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.gallery-section .swiper-slide.swiper-slide-thumb-active .gallery-section__active {
    opacity: 1;
    left: 0
}

.gallery-section .mySwiper {
    margin-bottom: 5px
}

.gallery-section .mySwiper2 {
    cursor: pointer
}

.gallery-section__type {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px
}

.gallery-section__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-title)
}

.news-card.skeleton .m-title {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #dddbdd;
    width: 90%;
    min-height: 40px;
    font-size: 0
}

@media (max-width: 992px) {
    .news-card.skeleton .m-title {
        min-height:30px
    }
}

.news-card.skeleton .m-text {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #dddbdd;
    width: 100%;
    min-height: 45px;
    font-size: 0
}

@media (max-width: 992px) {
    .news-card.skeleton .m-text {
        min-height:30px
    }
}

.news-card.skeleton .news-card__img {
    position: relative;
    overflow: hidden;
    background: #dddbdd;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.news-card.skeleton .news-card__img img {
    opacity: 0
}

.news-card.skeleton .news-card__info {
    width: 100%
}

.news-card.skeleton .news-card__type {
    width: 20%;
    font-size: 0
}

.news-card.skeleton .news-card__date,.news-card.skeleton .news-card__type {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #dddbdd;
    min-height: 20px
}

.news-card.skeleton .news-card__date {
    width: 30%
}

.news-card.skeleton .news-card__date img {
    opacity: 0
}

.news-card.skeleton .news-card__date span {
    font-size: 0
}

.news-card.skeleton .m-text:after,.news-card.skeleton .m-title:after,.news-card.skeleton .news-card__date:after,.news-card.skeleton .news-card__img:after,.news-card.skeleton .news-card__type:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,hsla(0,0%,100%,0)),color-stop(20%,hsla(0,0%,100%,.4)),color-stop(60%,hsla(0,0%,100%,.7)),to(hsla(0,0%,100%,0)));
    background-image: -webkit-linear-gradient(left,hsla(0,0%,100%,0),hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    background-image: -moz-linear-gradient(left,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    background-image: -o-linear-gradient(left,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    -webkit-animation: shimmer 3s infinite;
    -moz-animation: shimmer 3s infinite;
    -o-animation: shimmer 3s infinite;
    animation: shimmer 3s infinite;
    z-index: 99
}

.news-big__card.skeleton .news-big__card-img {
    position: relative;
    overflow: hidden;
    background: #dddbdd;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.news-big__card.skeleton .news-big__card-img img {
    opacity: 0
}

.news-big__card.skeleton .news-big__card-title {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #dddbdd;
    width: 90%;
    min-height: 50px;
    font-size: 0
}

@media (max-width: 992px) {
    .news-big__card.skeleton .news-big__card-title {
        min-height:25px
    }
}

.news-big__card.skeleton .m-text {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #dddbdd;
    width: 100%;
    min-height: 75px;
    font-size: 0
}

@media (max-width: 992px) {
    .news-big__card.skeleton .m-text {
        min-height:30px
    }
}

.news-big__card.skeleton .news-big__card-all {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #dddbdd;
    width: 40%;
    min-height: 40px;
    font-size: 0
}

@media (max-width: 992px) {
    .news-big__card.skeleton .news-big__card-all {
        min-height:20px
    }
}

.news-big__card.skeleton .m-text:after,.news-big__card.skeleton .news-big__card-all:after,.news-big__card.skeleton .news-big__card-img:after,.news-big__card.skeleton .news-big__card-title:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,hsla(0,0%,100%,0)),color-stop(20%,hsla(0,0%,100%,.4)),color-stop(60%,hsla(0,0%,100%,.7)),to(hsla(0,0%,100%,0)));
    background-image: -webkit-linear-gradient(left,hsla(0,0%,100%,0),hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    background-image: -moz-linear-gradient(left,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    background-image: -o-linear-gradient(left,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    -webkit-animation: shimmer 3s infinite;
    -moz-animation: shimmer 3s infinite;
    -o-animation: shimmer 3s infinite;
    animation: shimmer 3s infinite;
    z-index: 99
}

.fast-news.skeleton .fast-news__img {
    position: relative;
    overflow: hidden;
    background: #dddbdd;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.fast-news.skeleton .fast-news__img img {
    opacity: 0
}

.fast-news.skeleton .fast-news__info {
    position: relative;
    overflow: hidden;
    background: #dddbdd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    min-height: 30px;
    font-size: 0
}

.fast-news.skeleton .fast-news__img:after,.fast-news.skeleton .fast-news__info:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,hsla(0,0%,100%,0)),color-stop(20%,hsla(0,0%,100%,.4)),color-stop(60%,hsla(0,0%,100%,.7)),to(hsla(0,0%,100%,0)));
    background-image: -webkit-linear-gradient(left,hsla(0,0%,100%,0),hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    background-image: -moz-linear-gradient(left,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    background-image: -o-linear-gradient(left,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.4) 20%,hsla(0,0%,100%,.7) 60%,hsla(0,0%,100%,0));
    -webkit-animation: shimmer 3s infinite;
    -moz-animation: shimmer 3s infinite;
    -o-animation: shimmer 3s infinite;
    animation: shimmer 3s infinite;
    z-index: 99
}

@-webkit-keyframes shimmer {
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@-moz-keyframes shimmer {
    to {
        -moz-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@-o-keyframes shimmer {
    to {
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes shimmer {
    to {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }
}

:root {
    --content-font-size: 18px;
    --content-line-height: 26px;
    --content-gap: 25px 0
}

.rich-text-box {
    font-size: var(--content-font-size);
    line-height: var(--content-line-height);
    color: var(--color-dark)
}

.rich-text-box .is-block-list a {
    color: var(--color-main);
    font-weight: 500;
    -webkit-box-shadow: rgba(5,30,214,.5) 0 -2px 0 inset;
    box-shadow: inset 0 -2px 0 rgba(5,30,214,.5);
    text-decoration: none
}

.rich-text-box .is-block-pr,.rich-text-box .island-block {
    margin: var(--content-gap)
}

.rich-text-box .is-block-pr p,.rich-text-box .island-block p {
    font-weight: 500;
    color: var(--color-dark)
}

.rich-text-box .is-block-pr p b,.rich-text-box .island-block p b {
    font-weight: 600;
    color: var(--color-dark)
}

.rich-text-box .is-block-pr p a,.rich-text-box .island-block p a {
    color: var(--color-main);
    font-weight: 500;
    -webkit-box-shadow: rgba(5,30,214,.5) 0 -2px 0 inset;
    box-shadow: inset 0 -2px 0 rgba(5,30,214,.5);
    text-decoration: none
}

.rich-text-box .bl-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-dark);
    margin-bottom: 14px;
    display: block
}

.rich-text-box .content-img {
    margin: var(--content-gap)
}

.rich-text-box .content-img picture {
    position: relative;
    cursor: pointer
}

.rich-text-box .content-img picture:before {
    content: "";
    background-color: hsla(0,0%,100%,.9);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    bottom: 30px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 30px;
    top: auto;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
    width: 60px;
    background-image: url(../images/icon/resize.svg);
    -webkit-background-size: 20px 20px;
    -o-background-size: 20px;
    background-size: 20px;
    background-position: 50%;
    background-repeat: no-repeat
}

.rich-text-box .content-img picture:hover:before {
    opacity: 1
}

.rich-text-box .is-content-embed .iframe {
    padding-top: 56%;
    position: relative
}

.rich-text-box .is-content-embed .iframe iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.rich-text-box .is-content-embed iframe {
    background: #fff;
    border: 0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,.5),0 1px 10px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 1px 0 rgba(0,0,0,.5),0 1px 10px 0 rgba(0,0,0,.15)
}

.rich-text-box .is-content-embed .twitter {
    position: relative;
    padding-bottom: 58%;
    width: 100%;
    max-width: 550px;
    margin: 0 auto
}

.rich-text-box .is-content-embed .twitter iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.rich-text-box .is-content-embed .instagram iframe,.rich-text-box .is-content-embed .twitter iframe {
    max-width: 540px;
    min-width: 300px;
    padding: 0;
    width: 99.375%;
    width: -webkit-calc(100% - 2px);
    width: -moz-calc(100% - 2px);
    width: calc(100% - 2px);
    min-height: 100%;
    overflow-y: hidden
}

.rich-text-box .figure-video {
    max-width: 100%;
    margin: 0 auto
}

.rich-text-box figcaption {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-grey);
    margin-bottom: 25px
}

.rich-text-box .paragraph-image picture {
    display: block;
    width: 100%;
    position: relative
}

.rich-text-box .paragraph-image img {
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 12px;
    border-radius: 12px
}

.rich-text-box .is-block-list {
    margin-bottom: 30px
}

.rich-text-box .is-block-list ul {
    padding-left: 20px
}

.rich-text-box .is-block-list ul li {
    font-weight: 500;
    line-height: 37px;
    padding-left: 20px;
    position: relative
}

.rich-text-box .is-block-list ul li:before {
    width: 7px;
    height: 7px;
    background-color: #000;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
    -webkit-border-radius: 100%;
    border-radius: 100%
}

.rich-text-box .is-content-quote {
    background: #f0f0f0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 30px 30px 30px 50px;
    margin-bottom: 30px
}

@media (max-width: 768px) {
    .rich-text-box .is-content-quote {
        padding:20px 20px 20px 30px
    }
}

.rich-text-box .is-content-quote blockquote {
    position: relative;
    font-weight: 500;
    color: var(--color-title)
}

@media (max-width: 768px) {
    .rich-text-box .is-content-quote blockquote {
        font-size:18px;
        line-height: 26px
    }
}

@media (max-width: 575px) {
    .rich-text-box .is-content-quote blockquote {
        font-weight:600;
        font-size: 16px;
        line-height: 26px
    }
}

.rich-text-box .is-content-quote blockquote:after {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 5px;
    height: 100%;
    background: var(--color-blue)
}

@media (max-width: 575px) {
    .rich-text-box .is-content-quote blockquote:after {
        width:3px;
        left: -15px
    }
}

.rich-text-box .is-content-del {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px 0 20px
}

.rich-text-box .delimiter {
    font-size: 24px;
    letter-spacing: 2px;
    position: relative
}

.rich-text-box .delimiter:after {
    content: "* * *"
}

.rich-text-box .align-center {
    text-align: center
}

.rich-text-box .align-right {
    text-align: right
}

.social-mini {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px -10px 0
}

.social-mini li {
    margin: 0 10px
}

.social-mini__link svg {
    width: 20px;
    height: 20px
}

.social-mini__link svg path {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.social-mini__link.facebook:hover svg path {
    fill: #051ed6
}

.social-mini__link.instagram:hover svg path {
    fill: #e1306c
}

.social-mini__link.telegram:hover svg path {
    fill: #08c
}

.social-mini__link.twitter:hover svg path {
    fill: #1da1f2
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy Regular"),local("Gilroy-Regular"),url(../fonts/Gilroy/Gilroy-Regular.woff2) format("woff2"),url(../fonts/Gilroy/Gilroy-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy Medium"),local("Gilroy-Medium"),url(../fonts/Gilroy/Gilroy-Medium.woff2) format("woff2"),url(../fonts/Gilroy/Gilroy-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy SemiBold"),local("Gilroy-SemiBold"),url(../fonts/Gilroy/Gilroy-SemiBold.woff2) format("woff2"),url(../fonts/Gilroy/Gilroy-SemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: local("Gilroy Bold"),local("Gilroy-Bold"),url(../fonts/Gilroy/Gilroy-Bold.woff2) format("woff2"),url(../fonts/Gilroy/Gilroy-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

.header {
    width: 100%;
    z-index: 99;
    padding: 20px 0;
    background: #111;
    position: relative
}

.header-nav,.header-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.header-nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 30px
}

.header-list {
    position: relative;
    margin: 0 -15px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.header-list li {
    margin: 0 15px
}

.header-list.active {
    opacity: 0
}

.header-logo img {
    max-width: 120px
}

.header-link {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: var(--color-base)
}

.header-link:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 0;
    height: 2.5px;
    background: #697bff;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.header-link.active:after {
    width: 100%
}

.header-language__link,.header-link:hover {
    color: var(--color-base)
}

.header-language__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px
}

.header-language__link:hover {
    color: var(--color-base)
}

.header-language__link.active {
    color: #697bff
}

.header-language__list span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 2px;
    height: 20px;
    background: var(--color-base);
    margin: 0 8px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg)
}

.header-right,.header-search {
    position: relative
}

.header-search {
    margin-left: 35px;
    min-width: 186px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid var(--color-base);
    padding: 10px 15px;
    height: 46px;
    background: #111;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.header-search img {
    width: 18px;
    height: 18px
}

.header-search span {
    color: var(--color-grey);
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px
}

.header-search__search {
    margin-right: 10px
}

.header-search:hover {
    border: 2px solid var(--color-base)
}

.header-burger {
    display: none
}

.header-search__dropdown {
    position: absolute;
    bottom: -134px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #242a30;
    min-height: 114px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 80px;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.header-search__dropdown.active {
    opacity: 1;
    pointer-events: auto
}

.header-search__dropdown form {
    width: 100%;
    display: block
}

.header-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border: 2px solid var(--color-base);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 0 15px
}

.header-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-base);
    font-size: 18px;
    line-height: 13px;
    font-weight: 400;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 11px 13px
}

.header-input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px
}

.header-input:-moz-placeholder,.header-input::-moz-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px
}

.header-input:-ms-input-placeholder,.header-input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px
}

.header-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px
}

@media (max-width: 1400px) {
    .header-logo {
        max-width:180px;
        width: 100%
    }

    .header-nav {
        padding-left: 0
    }

    .header-list {
        margin: 0 -20px
    }

    .header-list li {
        margin: 0 20px
    }

    .header-language__link,.header-link {
        font-size: 16px
    }
}

@media (max-width: 1200px) {
    .header {
        padding:15px 0
    }

    .header-logo {
        width: 120px
    }

    .header-wrapper.-active .header-nav {
        top: 74px;
        background: #242a30;
        width: 100%;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -moz-box-orient: vertical;
        -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .header-wrapper.-active .header-search__dropdown {
        bottom: -100px;
        min-height: 100%;
        background: transparent;
        padding: 20px;
        opacity: 1;
        pointer-events: auto;
        z-index: 55
    }

    .header-nav {
        position: fixed;
        top: -100%;
        left: 0;
        padding: 20px
    }

    .header-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start!important;
        -webkit-align-items: flex-start!important;
        -moz-box-align: start!important;
        -ms-flex-align: start!important;
        align-items: flex-start!important;
        margin: 0;
        width: 100%
    }

    .header-list li {
        margin: 0 0 30px;
        width: 100%
    }

    .header-link {
        width: 100%
    }

    .header-link:after {
        height: 1px;
        bottom: -10px
    }

    .header-search__dropdown {
        bottom: -100%;
        min-height: 100%;
        background: transparent;
        padding: 20px;
        opacity: 0;
        pointer-events: none
    }

    .header-right {
        display: none!important
    }

    .header-burger {
        width: 30px;
        height: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        margin: 0 0 0 auto;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out
    }

    .header-burger.-active {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    .header-burger.-active span {
        background: transparent
    }

    .header-burger.-active span:after {
        top: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .header-burger.-active span:before {
        top: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .header-burger span {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        height: 2px
    }

    .header-burger span,.header-burger span:after,.header-burger span:before {
        position: absolute;
        width: 100%;
        background: var(--color-base);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out
    }

    .header-burger span:after,.header-burger span:before {
        content: "";
        left: 0;
        height: 100%
    }

    .header-burger span:after {
        top: -9px
    }

    .header-burger span:before {
        top: 9px
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0
}

.wl-ct-name {
    color: #00608c!important
}

.bl-ct-name {
    color: #000!important
}

html {
    scroll-behavior: smooth
}

html::-webkit-scrollbar {
    width: 10px
}

html::-webkit-scrollbar,html::-webkit-scrollbar-track {
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

html::-webkit-scrollbar-track {
    background: #fff
}

html::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px
}

html::-webkit-scrollbar-thumb,html::-webkit-scrollbar-thumb:hover {
    background: #00000030;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

a {
    display: inline-block;
    color: var(--color-black);
    font-family: var(--main-font);
    text-decoration: none
}

button {
    border: none;
    cursor: pointer;
    background: transparent
}

button:focus {
    outline: none
}

button:hover {
    border: none
}

ul {
    padding-left: 0;
    margin-bottom: 0
}

img {
    max-width: 100%
}

.page-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh
}

.page-wrapper .page-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.post-rel {
    position: relative
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px
}

.sec-padding {
    margin: 25px 0
}

@media (max-width: 768px) {
    .sec-padding {
        margin:20px 0
    }
}

.lg-backdrop {
    background: hsla(0,0%,5%,.8)
}

.lg-counter,.lg-toolbar .lg-icon {
    color: var(--color-base)
}

.sec-mini {
    margin: 15px 0
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20,.mb-30 {
    margin-bottom: 20px
}

.df {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.m-title {
    font-size: 20px;
    line-height: 26px;
    color: var(--color-title)
}

.m-title,.m-title-big {
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.m-title-big {
    font-size: 30px;
    line-height: 40px;
    color: var(--color-black)
}

@media (max-width: 992px) {
    .m-title-big {
        font-size:26px;
        line-height: 36px
    }
}

@media (max-width: 768px) {
    .m-title-big {
        font-size:24px;
        line-height: 34px
    }
}

.m-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-title)
}

.sticky-el {
    position: -webkit-sticky;
    position: sticky;
    top: 20px
}

.sticky-el:after,.sticky-el:before {
    content: "";
    display: table
}

.hidden-title {
    position: fixed;
    top: -150%;
    left: -150%;
    opacity: 0;
    pointer-events: none
}
